# compiled output
/dist
/build
/out

# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage
/.nyc_output

# environment variables & secrets
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# OS & Editor metadata
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
